.body1 {
  padding: 10vw;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding-bottom: 100px;
  overflow: auto;
}

.profile-container {
  width: 30vw;
  flex: 1;
}

.profile-picture {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adding a subtle box shadow to the picture */
}

.content-container {
  flex: 2;
  margin-left: 5%;
}

.headline {
  text-align: left;
}
