:root {
  --g: 0 0 4px var(--glow);
  --g2: 0 0 1.25px var(--glow);
  --bsg: -4px -4px 3.5px var(--glow);
  --bsg1: 0 0 10px 1px var(--glow);
  --bsg2: 4px 4px 3.5px var(--glow);
  --bsg3: 0 -5px 5px var(--textc);
  --bsg4: 0px 5px 3px 2px var(--textc);
  --clip-top-left: polygon(-50% -50%, 100% 0, 100% 100%, 0% 100%);
}

@keyframes flicker1 {
    0% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    5% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    10% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    15% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    20% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    25% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    30% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    35% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    40% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    45% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    50% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    55% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    60% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    65% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    70% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    75% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    80% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    85% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    90% {
      opacity: 1;
      text-shadow: var(--g2);
    }
    95% {
      opacity: 0.95;
      text-shadow: var(--g2);
    }
    100% {
      opacity: 1;
      text-shadow: var(--g2);
    }
  }
  
  @keyframes flicker2 {
    0% {
      opacity: 0.75;
      text-shadow: var(--g);
    }
    5% {
      opacity: 0.8;
      text-shadow: var(--g);
    }
    10% {
      opacity: 0.85;
      text-shadow: var(--g);
    }
    15% {
      opacity: 0.9;
      text-shadow: var(--g);
    }
    20% {
      opacity: 0.95;
      text-shadow: var(--g);
    }
    25% {
      opacity: 0.9;
      text-shadow: var(--g);
    }
    30% {
      opacity: 0.95;
      text-shadow: var(--g);
    }
    35% {
      opacity: 1;
      text-shadow: var(--g);
    }
    40% {
      opacity: 0.95;
      text-shadow: var(--g);
    }
    45% {
      opacity: 0.9;
      text-shadow: var(--g);
    }
    50% {
      opacity: 0.85;
      text-shadow: var(--g);
    }
    55% {
      opacity: 0.8;
      text-shadow: var(--g);
    }
    60% {
      opacity: 0.95;
      text-shadow: var(--g);
    }
    65% {
      opacity: 0.925;
      text-shadow: var(--g);
    }
    70% {
      opacity: 0.95;
      text-shadow: var(--g);
    }
    75% {
      opacity: 0.925;
      text-shadow: var(--g);
    }
    80% {
      opacity: 0.95;
      text-shadow: var(--g);
    }
    85% {
      opacity: 0.925;
      text-shadow: var(--g);
    }
    90% {
      opacity: 0.95;
      text-shadow: var(--g);
    }
    95% {
      opacity: 0.925;
      text-shadow: var(--g);
    }
    100% {
      opacity: 1;
      text-shadow: var(--g);
    }
  }
  
  @keyframes flicker3 {
    0% {
      opacity: 1;
      box-shadow: var(--bsg);
    }
    5% {
      opacity: 0.95;
      box-shadow: var(--bsg);
    }
    10% {
      opacity: 0.9;
      box-shadow: var(--bsg);
    }
    15% {
      opacity: 0.85;
      box-shadow: var(--bsg);
    }
    20% {
      opacity: 0.875;
      box-shadow: var(--bsg);
    }
    25% {
      opacity: 0.9;
      box-shadow: var(--bsg);
    }
    30% {
      opacity: 0.95;
      box-shadow: var(--bsg);
    }
    35% {
      opacity: 1;
      box-shadow: var(--bsg);
    }
    40% {
      opacity: 0.9;
      box-shadow: var(--bsg);
    }
    45% {
      opacity: 0.85;
      box-shadow: var(--bsg);
    }
    50% {
      opacity: 0.9;
      box-shadow: var(--bsg);
    }
    55% {
      opacity: 0.95;
      box-shadow: var(--bsg);
    }
    60% {
      opacity: 0.975;
      box-shadow: var(--bsg);
    }
    65% {
      opacity: 1;
      box-shadow: var(--bsg);
    }
    70% {
      opacity: 0.975;
      box-shadow: var(--bsg);
    }
    75% {
      opacity: 0.95;
      box-shadow: var(--bsg);
    }
    80% {
      opacity: 0.925;
      box-shadow: var(--bsg);
    }
    85% {
      opacity: 0.9;
      box-shadow: var(--bsg);
    }
    90% {
      opacity: 0.875;
      box-shadow: var(--bsg);
    }
    95% {
      opacity: 0.95;
      box-shadow: var(--bsg);
    }
    100% {
      opacity: 1;
      box-shadow: var(--bsg);
    }
  }
  
  @keyframes flicker4 {
    0% {
      opacity: 1;
      box-shadow: var(--bsg2);
    }
    5% {
      opacity: 0.95;
      box-shadow: var(--bsg2);
    }
    10% {
      opacity: 0.9;
      box-shadow: var(--bsg2);
    }
    15% {
      opacity: 0.85;
      box-shadow: var(--bsg2);
    }
    20% {
      opacity: 0.8;
      box-shadow: var(--bsg2);
    }
    25% {
      opacity: 0.85;
      box-shadow: var(--bsg2);
    }
    30% {
      opacity: 0.9;
      box-shadow: var(--bsg2);
    }
    35% {
      opacity: 0.95;
      box-shadow: var(--bsg2);
    }
    40% {
      opacity: 1;
      box-shadow: var(--bsg2);
    }
    45% {
      opacity: 0.95;
      box-shadow: var(--bsg2);
    }
    50% {
      opacity: 0.9;
      box-shadow: var(--bsg2);
    }
    55% {
      opacity: 0.85;
      box-shadow: var(--bsg2);
    }
    60% {
      opacity: 0.8;
      box-shadow: var(--bsg2);
    }
    65% {
      opacity: 0.85;
      box-shadow: var(--bsg2);
    }
    70% {
      opacity: 0.9;
      box-shadow: var(--bsg2);
    }
    75% {
      opacity: 0.95;
      box-shadow: var(--bsg2);
    }
    80% {
      opacity: 1;
      box-shadow: var(--bsg2);
    }
    85% {
      opacity: 0.95;
      box-shadow: var(--bsg2);
    }
    90% {
      opacity: 0.9;
      box-shadow: var(--bsg2);
    }
    95% {
      opacity: 0.95;
      box-shadow: var(--bsg2);
    }
    100% {
      opacity: 1;
      box-shadow: var(--bsg2);
    }
  }

  @keyframes flicker5 {
    0% {
      opacity: 1;
      box-shadow: var(--bsg1);
    }
    5% {
      opacity: 0.95;
      box-shadow: var(--bsg1);
    }
    10% {
      opacity: 0.9;
      box-shadow: var(--bsg1);
    }
    15% {
      opacity: 0.85;
      box-shadow: var(--bsg1);
    }
    20% {
      opacity: 0.8;
      box-shadow: var(--bsg1);
    }
    25% {
      opacity: 0.85;
      box-shadow: var(--bsg1);
    }
    30% {
      opacity: 0.9;
      box-shadow: var(--bsg1);
    }
    35% {
      opacity: 0.95;
      box-shadow: var(--bsg1);
    }
    40% {
      opacity: 1;
      box-shadow: var(--bsg1);
    }
    45% {
      opacity: 0.95;
      box-shadow: var(--bsg1);
    }
    50% {
      opacity: 0.9;
      box-shadow: var(--bsg1);
    }
    55% {
      opacity: 0.85;
      box-shadow: var(--bsg1);
    }
    60% {
      opacity: 0.8;
      box-shadow: var(--bsg1);
    }
    65% {
      opacity: 0.85;
      box-shadow: var(--bsg1);
    }
    70% {
      opacity: 0.9;
      box-shadow: var(--bsg1);
    }
    75% {
      opacity: 0.95;
      box-shadow: var(--bsg1);
    }
    80% {
      opacity: 1;
      box-shadow: var(--bsg1);
    }
    85% {
      opacity: 0.95;
      box-shadow: var(--bsg1);
    }
    90% {
      opacity: 0.9;
      box-shadow: var(--bsg1);
    }
    95% {
      opacity: 0.95;
      box-shadow: var(--bsg1);
    }
    100% {
      opacity: 1;
      box-shadow: var(--bsg1);
    }
  }

  @keyframes flicker6 {
    0% {
      opacity: 1;
      box-shadow: var(--bsg3);
    }
    5% {
      opacity: 0.97.5;
      box-shadow: var(--bsg3);
    }
    10% {
      opacity: 0.95;
      box-shadow: var(--bsg3);
    }
    15% {
      opacity: 0.925;
      box-shadow: var(--bsg3);
    }
    20% {
      opacity: 0.9;
      box-shadow: var(--bsg3);
    }
    25% {
      opacity: 0.975;
      box-shadow: var(--bsg3);
    }
    30% {
      opacity: 1;
      box-shadow: var(--bsg3);
    }
    35% {
      opacity: 0.975;
      box-shadow: var(--bsg3);
    }
    40% {
      opacity: 1;
      box-shadow: var(--bsg3);
    }
    45% {
      opacity: 0.9;
      box-shadow: var(--bsg3);
    }
    50% {
      opacity: 0.925;
      box-shadow: var(--bsg3);
    }
    55% {
      opacity: 0.95;
      box-shadow: var(--bsg3);
    }
    60% {
      opacity: 0.975;
      box-shadow: var(--bsg3);
    }
    65% {
      opacity: 0.95;
      box-shadow: var(--bsg3);
    }
    70% {
      opacity: 1;
      box-shadow: var(--bsg3);
    }
    75% {
      opacity: 0.975;
      box-shadow: var(--bsg3);
    }
    80% {
      opacity: 1;
      box-shadow: var(--bsg3);
    }
    85% {
      opacity: 0.975;
      box-shadow: var(--bsg3);
    }
    90% {
      opacity: 0.95;
      box-shadow: var(--bsg3);
    }
    95% {
      opacity: 0.925;
      box-shadow: var(--bsg3);
    }
    100% {
      opacity: 0.9;
      box-shadow: var(--bsg3);
    }
  }

  @keyframes flicker7 {
    0% {
      opacity: 1;
      box-shadow: var(--bsg4);
    }
    5% {
      opacity: 0.97.5;
      box-shadow: var(--bsg4);
    }
    10% {
      opacity: 0.95;
      box-shadow: var(--bsg4);
    }
    15% {
      opacity: 0.925;
      box-shadow: var(--bsg4);
    }
    20% {
      opacity: 0.9;
      box-shadow: var(--bsg4);
    }
    25% {
      opacity: 0.975;
      box-shadow: var(--bsg4);
    }
    30% {
      opacity: 1;
      box-shadow: var(--bsg4);
    }
    35% {
      opacity: 0.975;
      box-shadow: var(--bsg4);
    }
    40% {
      opacity: 1;
      box-shadow: var(--bsg4);
    }
    45% {
      opacity: 0.9;
      box-shadow: var(--bsg4);
    }
    50% {
      opacity: 0.925;
      box-shadow: var(--bsg4);
    }
    55% {
      opacity: 0.95;
      box-shadow: var(--bsg4);
    }
    60% {
      opacity: 0.975;
      box-shadow: var(--bsg4);
    }
    65% {
      opacity: 0.95;
      box-shadow: var(--bsg4);
    }
    70% {
      opacity: 1;
      box-shadow: var(--bsg4);
    }
    75% {
      opacity: 0.975;
      box-shadow: var(--bsg4);
    }
    80% {
      opacity: 1;
      box-shadow: var(--bsg4);
    }
    85% {
      opacity: 0.975;
      box-shadow: var(--bsg4);
    }
    90% {
      opacity: 0.95;
      box-shadow: var(--bsg4);
    }
    95% {
      opacity: 0.925;
      box-shadow: var(--bsg4);
    }
    100% {
      opacity: 0.9;
      box-shadow: var(--bsg4);
    }
  }