main {
  border-style: solid solid solid solid;
  border-radius: 2%;
  border-width: 3px;
  border-color: var(--textc);
  animation: flicker5 15s infinite;
  padding: 2%;
  margin: 5px 5px 5px 5px;
  height: 93vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header.main {
  display: flex;
  justify-content: start;
  margin-top: 0;
  margin-left: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

nav.article-nav {
  display: flex;
  overflow: hidden;
  box-shadow: 0 -5px 5px var(--textc);
  width: 94%;
  height: 30px;
  margin: 6px auto auto auto;
  text-align: center;
}

nav button.article-tab {
  background-color: transparent;
  border: none;
  padding-bottom: 0px;
  margin: auto -6px 5px -6px;
  width: 45vw;
  align-self: center;
  justify-content:end;
  height: 25px;
}

nav button.article-tab-active {
  background-color: var(--textc);
  border: none;
  margin: auto -6px 5px -6px;
  width: 45vw;
  align-self: center;
  justify-content:end;
  height: auto;
  box-shadow: 0 0 2px 0.5px var(--glow);
}

nav button.article-tab-active h4 {
  color: var(--background-color);
  text-shadow: 2px 2px 4px #000;
  width:95%;
}

nav button h4.active-crumb {
  box-shadow: 0 0 5px var(--glow);
  background-color: var(--glow);
  color:var(--background-color);
  height:90%;
}

.temp-center {
  display: flex;
  flex-direction: column;
  text-align:center;
}

h1 {
  margin: 0;
  animation: flicker2 20s infinite;
  font-size:xx-large;
}

section h1 {
  text-align:center;
}

h4 {
  margin: 0;
  animation: flicker1 20s infinite;
}

h4.divider {
  font-size:2.7em;
  margin: -5px -0.9px 0px -0.9px;
}

.hideOnSmall {
  display:none;
}

p {
  margin: 20px 3px 0;
  animation: flicker2 25s infinite;
}

label {
  animation: flicker2 25s infinite;
  font-size:x-large;
  font-weight:900;
}

button.active {
  animation: flicker4 15s infinite;
}

section {
  width: 100%;
}

.main-content {
  height: 80%;
  width: 100%;
}

.main-btn {
  appearance: button;
  background-color: #00000000;
  border: 1px solid var(--textc);
  border-radius: 1px;
  box-shadow: var(--background-color) 3px 1px 0 1px, #000000 4px 2px 2px 3px;
  box-sizing: border-box;
  color: var(--textc);
  cursor: cell;
  display: inline-block;
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 2vw 0.5rem 1vw;
  width: 30vw;
  height: 40px;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: 0 0 3px var(--glow);
}

.main-btn:focus {
  text-decoration: none;
}

.main-btn:hover {
  text-decoration: none;
}

.main-btn:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.main-btn:not([disabled]):active {
  box-shadow: var(--textc) 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.content-header {
  color: var(--background-color);
  background-color: var(--glow);
  box-shadow: 0 0 5px var(--glow);
  width: 95%;
  height: 30px;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 0 0 3px var(--background-color);
}

@media screen and (min-width: 500px) {
  main {
    border-style: solid none none solid;
    animation: flicker3 10s infinite;
    margin: 0 3%;
  }

  header.main {
    margin: 0 3% 2px;
  }

  .main-btn {
    width: 17vw;
    height: 60px;
    margin: 0.5rem 1vw 0.5rem 0vw;
    font-size: large;
  }
}

@media screen and (min-width: 1024px) {

  nav.article-nav {
    margin: 20px auto auto auto;

  }

  .main-content {
    height: 100%;
    width: 82%;
  }

  .content-header {
    margin: 10px auto 10px auto;
  }

  h4 {
    animation: flicker2 20s infinite;
    font-size: x-large;
  }

  h4.divider {
    font-size:xx-large;
    margin: -5px 0px 0px 0px;
    padding: 0px;
  }

  .hideOnSmall {
    display:block;
  }

  main {
    border-style: solid none none solid;
    animation: flicker3 10s infinite;
    margin-left: 10px;

  }

  .main-btn {
    width: 14vw;
    height: 60px;
    margin: 0.5rem 1vw 0.5rem 0vw;
  }
}
