.contact-section {
    padding: 50px;
    text-align: center;
  }
  
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--textc);
    border-radius: 5px;
    background-color: var(--outer-color);
  }

  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: var(--border-color);
    color: var(--textc);
    border: 1px solid var(--textc);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--inner-color);
  }
  
  button:focus {
    outline: none;
  }
  
  .pageTheme {
    position:relative;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-color);
    z-index: 1;
  }
  
  .scan {
    position: absolute;
    height: 53vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(var(--background-color), var(--scan-inner));
    opacity: 0.01;
    z-index: 99;
    animation: scan 4s infinite;
  }