:root {
  --g: 0 0 4px var(--glow);
  --g2: 0 0 1.25px var(--glow);
  --bsg: -4px -4px 3.5px var(--glow);
  --bsg2: 4px 4px 3.5px var(--glow);
  --clip-top-left: polygon(-50% -50%, 100% 0, 100% 100%, 0% 100%);
}

@keyframes flicker1 {
  0% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  5% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  10% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  15% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  20% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  25% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  30% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  35% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  40% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  45% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  50% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  55% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  60% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  65% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  70% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  75% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  80% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  85% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  90% {
    opacity: 1;
    text-shadow: var(--g2);
  }
  95% {
    opacity: 0.95;
    text-shadow: var(--g2);
  }
  100% {
    opacity: 1;
    text-shadow: var(--g2);
  }
}

@keyframes flicker2 {
  0% {
    opacity: 0.75;
    text-shadow: var(--g);
  }
  5% {
    opacity: 0.8;
    text-shadow: var(--g);
  }
  10% {
    opacity: 0.85;
    text-shadow: var(--g);
  }
  15% {
    opacity: 0.9;
    text-shadow: var(--g);
  }
  20% {
    opacity: 0.95;
    text-shadow: var(--g);
  }
  25% {
    opacity: 0.9;
    text-shadow: var(--g);
  }
  30% {
    opacity: 0.95;
    text-shadow: var(--g);
  }
  35% {
    opacity: 1;
    text-shadow: var(--g);
  }
  40% {
    opacity: 0.95;
    text-shadow: var(--g);
  }
  45% {
    opacity: 0.9;
    text-shadow: var(--g);
  }
  50% {
    opacity: 0.85;
    text-shadow: var(--g);
  }
  55% {
    opacity: 0.8;
    text-shadow: var(--g);
  }
  60% {
    opacity: 0.95;
    text-shadow: var(--g);
  }
  65% {
    opacity: 0.925;
    text-shadow: var(--g);
  }
  70% {
    opacity: 0.95;
    text-shadow: var(--g);
  }
  75% {
    opacity: 0.925;
    text-shadow: var(--g);
  }
  80% {
    opacity: 0.95;
    text-shadow: var(--g);
  }
  85% {
    opacity: 0.925;
    text-shadow: var(--g);
  }
  90% {
    opacity: 0.95;
    text-shadow: var(--g);
  }
  95% {
    opacity: 0.925;
    text-shadow: var(--g);
  }
  100% {
    opacity: 1;
    text-shadow: var(--g);
  }
}

@keyframes flicker3 {
  0% {
    opacity: 1;
    box-shadow: var(--bsg);
  }
  5% {
    opacity: 0.85;
    box-shadow: var(--bsg);
  }
  10% {
    opacity: 0.95;
    box-shadow: var(--bsg);
  }
  15% {
    opacity: 0.9;
    box-shadow: var(--bsg);
  }
  20% {
    opacity: 0.8;
    box-shadow: var(--bsg);
  }
  25% {
    opacity: 0.9;
    box-shadow: var(--bsg);
  }
  30% {
    opacity: 0.95;
    box-shadow: var(--bsg);
  }
  35% {
    opacity: 1;
    box-shadow: var(--bsg);
  }
  40% {
    opacity: 0.9;
    box-shadow: var(--bsg);
  }
  45% {
    opacity: 0.85;
    box-shadow: var(--bsg);
  }
  50% {
    opacity: 0.9;
    box-shadow: var(--bsg);
  }
  55% {
    opacity: 0.85;
    box-shadow: var(--bsg);
  }
  60% {
    opacity: 0.95;
    box-shadow: var(--bsg);
  }
  65% {
    opacity: 1;
    box-shadow: var(--bsg);
  }
  70% {
    opacity: 0.95;
    box-shadow: var(--bsg);
  }
  75% {
    opacity: 0.6;
    box-shadow: var(--bsg);
  }
  80% {
    opacity: 0.85;
    box-shadow: var(--bsg);
  }
  85% {
    opacity: 0.9;
    box-shadow: var(--bsg);
  }
  90% {
    opacity: 0.95;
    box-shadow: var(--bsg);
  }
  95% {
    opacity: 0.975;
    box-shadow: var(--bsg);
  }
  100% {
    opacity: 1;
    box-shadow: var(--bsg);
  }
}

@keyframes flicker4 {
  0% {
    opacity: 1;
    box-shadow: var(--bsg2);
  }
  5% {
    opacity: 0.95;
    box-shadow: var(--bsg2);
  }
  10% {
    opacity: 0.9;
    box-shadow: var(--bsg2);
  }
  15% {
    opacity: 0.85;
    box-shadow: var(--bsg2);
  }
  20% {
    opacity: 0.8;
    box-shadow: var(--bsg2);
  }
  25% {
    opacity: 0.85;
    box-shadow: var(--bsg2);
  }
  30% {
    opacity: 0.9;
    box-shadow: var(--bsg2);
  }
  35% {
    opacity: 0.95;
    box-shadow: var(--bsg2);
  }
  40% {
    opacity: 1;
    box-shadow: var(--bsg2);
  }
  45% {
    opacity: 0.95;
    box-shadow: var(--bsg2);
  }
  50% {
    opacity: 0.9;
    box-shadow: var(--bsg2);
  }
  55% {
    opacity: 0.85;
    box-shadow: var(--bsg2);
  }
  60% {
    opacity: 0.8;
    box-shadow: var(--bsg2);
  }
  65% {
    opacity: 0.85;
    box-shadow: var(--bsg2);
  }
  70% {
    opacity: 0.9;
    box-shadow: var(--bsg2);
  }
  75% {
    opacity: 0.95;
    box-shadow: var(--bsg2);
  }
  80% {
    opacity: 1;
    box-shadow: var(--bsg2);
  }
  85% {
    opacity: 0.95;
    box-shadow: var(--bsg2);
  }
  90% {
    opacity: 0.9;
    box-shadow: var(--bsg2);
  }
  95% {
    opacity: 0.95;
    box-shadow: var(--bsg2);
  }
  100% {
    opacity: 1;
    box-shadow: var(--bsg2);
  }
}

header.main {
  display: flex;
  justify-content: start;
  margin-top: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

h1 {
  margin: 0;
  animation: flicker2 20s infinite;
}

h4 {
  margin: 0;
  animation: flicker1 20s infinite;
}

p {
  margin: 20px 3px 0;
  animation: flicker2 25s infinite;
}

body {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 98%;
}

button.active {
  animation: flicker4 15s infinite;
}

main {
  border-style: solid none none none;
  border-radius: 2%;
  border-width: 2px;
  border-color: var(--textc);
  animation: flicker3 15s infinite;
  padding: 2%;
  margin-top: 3px;
  height: 92vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.show-border {
  border-style: dashed;
}

.reactor {
  height: 90%;
  width: 100%;
}

.plain {
  animation: none;
}

.sagely {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}

.main-btn {
  appearance: button;
  background-color: #00000000;
  border: 1px solid var(--textc);
  border-radius: 1px;
  box-shadow: var(--background-color) 3px 1px 0 1px, #000000 4px 2px 2px 3px;
  box-sizing: border-box;
  color: var(--textc);
  cursor: cell;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0.5rem 1vw 0.5rem 1vw;
  width: 100px;
  height: 40px;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.main-btn:focus {
  text-decoration: none;
}

.main-btn:hover {
  text-decoration: none;
}

.main-btn:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.main-btn:not([disabled]):active {
  box-shadow: var(--textc) 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

/* Just some boilerplate responsive css */
@media screen and (min-width: 768px) {
  main {
    border-style: solid none none solid;
    animation: flicker3 10s infinite;
    margin: 0 3%;
  }
  header.main {
    margin: 0 3% 2px;
  }
}

@media screen and (min-width: 1024px) {
  .reactor {
    height:100%;
    width: 82%;
}

  .sagely {
    flex-direction: column;
    width: 245px;
    height: 40vh;
  }

  h4 {
    animation: flicker2 20s infinite;
    font-size: x-large;
  }

  main {
    border-style: solid none none solid;
    animation: flicker3 10s infinite;
  }

  .main-btn {
    width: 200px;
    height: 60px;
  }
}
