.hiddie-pants {
  visibility: visible;
}

div.center-row{
  display:flex;
  flex-direction: row;
  justify-content: center;
  overflow:hidden;
  overflow-wrap: break-word;

}

div.center{
  align-content: center;
  text-align:center;
}

div.divider{
  height:2.5px;
  background-color: var(--textc);
  margin: 5px 0px 25px 0px;
}

li {
  display:list-item;
  list-style-type: disc;
  list-style-position: inside;
  text-align:left;
  margin: 0 0 10px 0;
  animation: flicker2 15s infinite;

}

.left-align {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align:left;
}

p{
  margin: 5px 0 0 0;
}

@media screen and (min-width: 1024px) {
  .hiddie-pants {
    visibility: none;
  }
}
