.footer {
  background: var(--outer-color);
  text-align: center;
  padding: 0.625rem;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.footer-content {
  padding: 0.625rem;
}

.socialMedia svg {
  margin: 2vw;
  font-size: 2rem;
  cursor: pointer;
}

