.footer {
    background: var(--outer-color);
    bottom: 0;
    height: 10rem;
    position: absolute;
    width: 100%;
    text-align: center;
  }

.footer-content {
  padding: 0.625rem;
}

.socialMedia svg {
  margin: 2vw;
  font-size: 2rem;
  cursor: pointer;
}

